modules = ["nodejs-20", "python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 4200

[[ports]]
localPort = 23637
externalPort = 3002

[userenv]

[userenv.shared]
BASE_URL = "http://localhost:3000"
NODE_OPTIONS = "--no-deprecation"
BROWSERSLIST_IGNORE_OLD_DATA = "true"
SENTRY_ORG = "smetalab"
SENTRY_PROJECT = "smetalab-dev"
EMAIL_FROM = "Smetalab <onboarding@smeta-lab.ru>"
NEON_PROJECT_ID = "falling-fire-63341326"
DATABASE_URL = "postgresql://neondb_owner:npg_K91uBGXnbfDO@ep-muddy-cell-al0m0ni1-pooler.c-3.eu-central-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
